# Copie para local.env. Esse arquivo e ignorado pelo Git.
BTCPAY_HOST=btcpay.local
BTCPAY_PROTOCOL=http
NBITCOIN_NETWORK=mainnet
NOREVERSEPROXY_HTTP_PORT=80
BTCPAYGEN_CRYPTO1=btc
BTCPAYGEN_REVERSEPROXY=none
BTCPAYGEN_LIGHTNING=
BTCPAYGEN_ADDITIONAL_FRAGMENTS=opt-save-storage-xs
BTCPAYGEN_SUBNAME=local
